networks:
  nets:
    ipam:
      driver: default
      config:
        - subnet: '172.10.1.0/24'
          gateway: '172.10.1.1'
volumes:
  as-gateway:
  gw-indihome:
  net-only:

services:
  as-gateway:
    build:
      context: .
      dockerfile: Dockerfile
    image: masdel/openvpn
    restart: unless-stopped
    env_file: .gateway.env
    ports:
      - 11094:1194/udp
      - 11049:1149/tcp
    cap_add:
      - NET_ADMIN
    volumes:
      - /opt/docker/ovpn/as-gateway:/opt/openvpn
      - as-gateway:/opt/easyrsa/
    networks:
      nets:
        ipv4_address: 172.10.1.2
  net-only:
    build:
      context: .
      dockerfile: Dockerfile
    image: masdel/openvpn
    restart: unless-stopped
    env_file: .net-only.env
    ports:
      - 11249:1149/tcp
    cap_add:
      - NET_ADMIN
    volumes:
      - /opt/docker/ovpn/net-only:/opt/openvpn
      - net-only:/opt/easyrsa/
    networks:
      nets:
        ipv4_address: 172.10.1.4
